name: Solar System Workflow

on: 
  workflow_dispatch:
  push:
    branches:
      - main
      - 'feature/*'
    
env:
  MONGO_URI: 'mongodb+srv://supercluster.d83jj.mongodb.net/superData'
  MONGO_USERNAME: 'superuser'
  MONGO_PASSWORD: ${{ secrets.MONGO_PASSWORD }}

jobs:
    unit-testing:
        name: Unit Testing
        runs-on: ubuntu-latest
        container:
          image: 'node:20'
        steps:

        - name: Checkout Repository
          uses: actions/checkout@v4

       # - name: Setup NodeJS Version
       #   uses: actions/setup-node@v4
       #   with:
       #     node-version: 20

        - name: Cache NPM dependencies
          uses: actions/cache@v5
          with:
            path: ~/.npm
            key: '${{ runner.os }}-node-modules-${{ hashFiles(''package-lock.json'') }}'

        - name: Install Dependencies
          run: npm install
    
        - name: Unit Testing
          run: npm test
          
        - name: Archive Test Result
          if: always()
          uses: actions/upload-artifact@v4
          with:
            name: Mocha-Test-Result
            path: test-results.xml
    code-coverage:
        name: Code Coverage
        runs-on: ubuntu-latest
        steps:
        - name: Checkout Repository
          uses: actions/checkout@v4
        
        - name: Setup NodeJS Version
          uses: actions/setup-node@v4
          with:
            node-version: 18
        
        - name: Install Dependencies
          run: npm install

        - name: Run Code Coverage
          continue-on-error: true
          run: npm run coverage

        - name: Code-Coverage-Result
          uses: actions/upload-artifact@v5
          with:
            name: Code-Coverage-Result
            path: coverage
            retention-days: 5
    docker:
        permissions:
          packages: write
        needs: [code-coverage, unit-testing]
        name: docker
        runs-on: ubuntu-latest
        steps:
        - name: Checkout Repository
          uses: actions/checkout@v4
        - name: Docker login
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: '${{ github.actor }}'
            password: '${{ secrets.GITHUB_TOKEN }}'

        - uses: docker/metadata-action@v5
          id: meta
          with:
            images: ghcr.io/${{ github.repository_owner }}/solar-system

        - name: Docker build
          uses: docker/build-push-action@v4
          with:
            context: .
            push: true
            tags: ${{ steps.meta.outputs.tags }}

    dev-deploy:
        needs: docker
        name: dev-deploy
        runs-on: ubuntu-latest
        environment:
          name: development
        outputs:
          APP_INGRESS_URL: ${{ steps.set-ingress-host-address.outputs.APP_INGRESS_URL }}
        steps:
          - name: Set App Ingress Host URL
            id: set-ingress-host-address
            run: |
              HOST=$(kubectl -n development get ingress -o jsonpath='{.items[0].spec.rules[0].host}')
              echo "APP_INGRESS_URL=$HOST" >> "$GITHUB_OUTPUT"

          - name: install cluster
            uses: helm/kind-action@v1
          
          - run: |
              sleep 60
              kubectl -n kube-system get pod
              set +e
              REPO_OWNER_LC="${GITHUB_REPOSITORY_OWNER,,}"
              kubectl run solar --image ghcr.io/${REPO_OWNER_LC}/solar-system:${{ github.sha }} \
                --env MONGO_URI=${{ env.MONGO_URI }} \
                --env MONGO_USERNAME=${{ env.MONGO_USERNAME }} \
                --env MONGO_PASSWORD=${{ secrets.MONGO_PASSWORD }}
              set -e
              echo "kubectl returned $?"
              kubectl -n default get pod
              sleep 10

    integration-test:
        needs: dev-deploy
        name: integration-testing
        uses: ./.github/workflows/reusable-workflow.yml
        with:
          ingress-url: ${{ needs.dev-deploy.outputs.APP_INGRESS_URL }}
